@model GiftViewModel
@{
    ViewData["Title"] = "Gift Details";
}
<div class="container py-4">
    <div class="row mb-4">
        <div class="col">
            <h2>Gift Details</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">@Model.Name</dd>
                        <dt class="col-sm-4">Description</dt>
                        <dd class="col-sm-8">@Model.Description</dd>
                        <dt class="col-sm-4">Price</dt>
                        <dd class="col-sm-8">@Model.Price.ToString("C")</dd>
                    </dl>
                    <a asp-action="Edit" asp-route-id="@Model.GiftId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div> 